.background {
    padding-top: 200px;
    min-height: 100vh;
    text-align: center;
    font-size: 30px;
}


.background .button1 {
    color: rgb(255, 84, 84);
    font-size: 30px;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 10px 0px;
}